<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="conteiner_form">
        <h1>Adicionar tarefa</h1>    
        <form action="{{url_for('add_tarefa')}}" method="post">
        <input type="text" name="titulo" placeholder="Titulo">
        <input type="text" name="descricao" placeholder="Observação">
        <button id="enviar">Enviar</button>
        <br><br>
        <a href="{{ url_for('dash') }}">↩️</a>
    </form>
    </div>
</body>
</html>