<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Bem vindo ao bloco de notas </h1>

    
    <div class="links">
        <button><a href="{{url_for('ver_nota')}}">Ver seu bloco de notas</a></button>
        <button><a href="{{url_for('tarefa')}}">Ver suas tarefas</a></button>
    </div>
</body>
</html>