<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloco de Notas - Início</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Bloco de Notas 🗒️</h1>
        <div class="linha">
            <p>Gerencie suas notas de forma fácil e segura.</p>
        <div><button><a href="{{ url_for('login') }}">Login</a>  </button>
            <button><a href="{{ url_for('register') }}">Registrar</a></div></button>
        </div>
    </div>

 
</body>
</html>