<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Minhas Notas</h1>
        
        <ul class="notas">
            {% for nota in notas %}
                <li>
                    <strong><p>Nota: {{ nota[1] }}</p></strong> <p>Obs: {{ nota[2] }}</p>
                    <div>
                        <button><a href="{{ url_for('edit_note', id=nota[0]) }}">Editar</a></button>
                        <button><a href="{{ url_for('delete_note', id=nota[0]) }}">Deletar</a></button>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <button><a href="{{ url_for('add_note') }}">Adicionar Nota</a></button>
        


       
    </div>
    <div class="sair"><button><a  href="{{ url_for('logout') }}">Sair</a></button></div>
</body>
</html>